{{#>dialogueBubble}}
	{{#*inline 'title'}}
		{{translate 'dialogue.author-headline'}}
		{{#>questionMark}}
			{{translate 'dialogue.author-question-mark'}}
		{{/questionMark}}
	{{/inline}}

	{{#*inline 'content'}}
		<form class="immediate-submit">
			<p>{{translate 'dialogue.author-label'}}</p>

			<div class="form-group">
				<input type="text" name="author"><button class="green-btn" type="submit">{{translate 'dialogue.next'}}</button>
			</div>

			<div class="form-group">
				<label>
					<input type="checkbox" name="no-author" value="true">
					{{translate 'dialogue.answer-no-author'}}
				</label>
			</div>
		</form>
	{{/inline}}
{{/dialogueBubble}}
