<div class="screen dialogue-screen">
	<div class="dialogue-header">
		<span>Dialogue Header</span>
	</div>

	<div style="height: {{imageHeight}}px" class="image-wrapper">
		<img src="{{thumbUrl}}" class="image-preview">
		<div style="width: {{imageWidth}}px" class="image-preview-tail">
			<a href="{{url}}" download="">
				<button class="green-btn" id="image-download-button">
				<span class="glyphicon glyphicon-download-alt"></span>Bild herunterladen ({{size}})
				</button>
			</a>
		</div>
	</div>

	<div class="dialogue">
		<div class="dialogue-bubble">
			<div class="triangle"></div>

			<div class="bubble-content">
				<h2 class="bubble-header">
					Bubble heading.
				</h2>
				<div class="bubble-text">
					Hello. This is text.
				</div>
			</div>
		</div>
	</div>
</div>
