<div class="image-preview">
	<div class="image-wrapper">
		<img src="{{thumbUrl}}" class="image-thumbnail">
	</div>

	<div style="width: {{imageWidth}}px" class="image-thumbnail-tail">
		<a href="{{url}}" download="">
			<button class="green-btn small-btn" id="image-download-button">
				<span class="glyphicon glyphicon-download-alt"></span>{{translate 'dialogue.download-image-link'}} ({{size}})
			</button>
		</a>
	</div>
</div>
