<nav id="progress-bar">
	<li><a href="#">{{translate 'dialogue.type-of-use'}}</a></li>
	<li><a href="#">{{translate 'dialogue.author'}}</a></li>
	<li><a href="#">{{translate 'dialogue.compilation'}}</a></li>
	<li><a href="#">{{translate 'dialogue.editing'}}</a></li>
	<li><a href="#">{{translate 'dialogue.done'}}</a></li>
</nav>
