{{#>dialogueBubble}}
	{{#*inline 'title'}}
		<div class="qm-wrapper">
			{{translate 'dialogue.author-headline'}}
			{{>questionMark target='author-qm'}}
		</div>

		<div id="author-qm" class="question-mark-content">
			{{translate 'dialogue.author-question-mark'}}
		</div>
	{{/inline}}

	{{#*inline 'content'}}
		<form class="immediate-submit author-step">
			<p>{{translate 'dialogue.author-label'}}</p>

			<div class="form-group checkbox">
				<input type="text" name="author"><button class="green-btn" type="submit">{{translate 'dialogue.next'}}</button>
			</div>

			<div class="form-group checkbox">
				<label>
					<input type="checkbox" name="no-author" value="true">
					{{translate 'dialogue.answer-no-author'}}
				</label>
			</div>
		</form>
	{{/inline}}
{{/dialogueBubble}}
