{{#>dialogueBubble}}
	{{#*inline 'title'}}
		<div class="qm-wrapper">
			{{translate 'dialogue.licence-headline'}}
			{{>questionMark target='qm-licence'}}
		</div>

		<div id="qm-licence" class="question-mark-content">
			{{translate 'dialogue.licence-question-mark'}}
		</div>
	{{/inline}}

	{{#*inline 'content'}}
		<form class="immediate-submit">
			<div class="form-group checkbox">
				<label>
					<input type="checkbox" name="licence" value="original">
					{{translate 'dialogue.same-licence'}}
					(<b>{{original.name}}</b>
					<small>&#8594;<a href="{{original.url}}" target="_blank">{{translate 'dialogue.licence-text'}}</a></small>)
				</label>
			</div>

			{{#each compatibles}}
				<div class="form-group checkbox">
					<label>
						<input type="checkbox" name="licence" value="{{this.getId}}"> <b>{{this.getName}}</b>
						<small>&#8594;<a href="{{this.getUrl}}" target="_blank">{{translate 'dialogue.licence-text'}}</a></small>
					</label>
				</div>
			{{/each}}
		</form>
	{{/inline}}
{{/dialogueBubble}}
